<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087929121342-8hmp1jef1atsbvug14l03ko9ngne3fkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087929121342-8hmp1jef1atsbvug14l03ko9ngne3fkp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1087929121342-f7k46natcnl7prhkgpus1a9ohsj4h4bq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCESuEgxGX-NJ1PCJPSRqBTfbWGX5BVir4</string>
	<key>GCM_SENDER_ID</key>
	<string>1087929121342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dineopen.pos</string>
	<key>PROJECT_ID</key>
	<string>ascendant-idea-443107-f8</string>
	<key>STORAGE_BUCKET</key>
	<string>ascendant-idea-443107-f8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087929121342:ios:b6da75f08d96a3d5a42f6f</string>
</dict>
</plist>